<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Vertical Test</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-rc.1/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="./public/bundle.js"></script>
    </head>
    <body>
        <div class="outer-wrapper" ng-app="app">
        <div class="menu-wrapper">
            <h1>Our Products</h1>
            <ul class="menu-tabs" ng-controller="searchCtrl as s">
            <li>
                <a ng-click="s.showSearch(true)">
                    Search
                </a>
                <div class="search-wrapper" ng-class="{'showSearchBar': s.searchShow===true}">
                <div title="Close" class="close-search" ng-click="s.showSearch(false)">
                    <i class="fa fa-chevron-left" ng-class="{'rotate-right': s.searchShow===true}" aria-hidden="true"></i>
                </div>
                <input type="text" ng-model="s.searchTerm" placeholder="Enter Search Term" autofocus /><i ng-if="s.searchTerm!==''" class="fa fa-window-close cancel-search" aria-hidden="true" ng-click="s.resetSearch()"></i></div>
            </li>
                </ul>
            </div>
            <ui-view></ui-view>
            </div>
        </div>
        </div>
    </body>
</html>