<div class="feature-cards-wrapper">
    <div class="card-mid--wrapper" ng-repeat="feature in $ctrl.features">
        <div class="card-mid">
            <div class="card-mid--headline">{{feature.name}}</div>
            <div class="card-mid--main">{{feature.description}}</div>
            <div class="card-mid--links">
                <a ui-sref="home.categories.category({category: feature.categoryRoute})" ui-sref-active="show-link">Clear</a>
                <a ui-sref="home.categories.category.product({productPath: feature.route})" ui-sref-active="hide-link">Details</a>
            </div>
        </div>
    </div>
</div>

<ui-view></ui-view>